---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

.breadcrumbs{
    display: flex !important;
    justify-content: flex-start !important;
}

pre, code {
  display: block;
  word-wrap: break-word !important;
  white-space: pre-wrap !important;
  text-align: left !important;
  max-width: 100% !important;
  overflow: auto !important;
  padding-left: 1em;
  text-indent : -1em;
}

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
