---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

.breadcrumbs{
    display: flex !important;
    justify-content: flex-start !important;
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  width: 100%;
  padding: 10px;
}

code {
  width: auto;
  color: black;
}

// 이렇게 해야 pre 내부의 code들의 배경색이 code의 설정을 따르지 않음
// pre code {
//   background-color: transparent;
// }

.page__related{
  float: inline-start !important;
}

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
