---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

.breadcrumbs{
    display: flex !important;
    justify-content: flex-start !important;
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  width: 100%;
  padding: 10px;
}

code {
  width: auto;
  padding: 10px;
}

// pre, code {
//   display: block;
//   word-wrap: break-word !important;
//   white-space: pre-wrap !important;
//   text-align: left !important;
//   max-width: 100% !important;
//   overflow: auto !important;
//   padding: 10px;
//   webkit-text-size-adjust : none;
//   ms-text-size-adjust : none;
//   moz-text-size-adjust : none;
//   o-text-size-adjust : none;
// }

.page__related{
  float: inline-start !important;
}

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
